body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("img/bg.jpg");
    color: white;
}
h1{
    position: relative;
    margin-left: 38%;
    margin-top: 4%;
    margin-bottom: 2%;
}
#perso{
    display: block;
    margin-left: 7%;
}
#profil{
    display: block;
    width: 50%;
    float:right;
}
#profil img{
    width: 60%;
    height:auto;
    margin-left: 30%;
    border-radius: 1%;
}
#achievements{
    width: 100%;
    margin-top: 13%;
}
#achievements h3{
    margin-left: 40%;
}
#about{
    margin-top: 8%;
    text-align: center;
}
#qualif{
    margin-top: 9%;
}
#qualif h3{
    text-align: center;
    margin-bottom: 2%;
}
#achievements img{
    height: auto;
    width:80%;
}
table{
    width:90%;
    height: auto;
    margin-left: 10%;
    border-spacing: 0 25px;
    margin-bottom: 5%;
}
table img{
   border-radius: 1%;
}
footer{
    text-align: center;
}
footer img{
    width:5%;
    height:auto;
}
#phone{
    float: left;
    margin-left: 10%;
    margin-right: -5%;
    margin-top: 2%;
}
#phone img{
    margin-bottom: -3%;
    margin-right: 2%;
    width:9%;
    height:auto;
}
#email img{
    margin-bottom: -2%;
    margin-top: 1%;
}
#email a{
    color: white;
}